<html>
	<head>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'application' %>
    <style type="text/css">
      span.delete_link {
        display: none;
      }
    </style>
	</head>
  <body>
    <h1>My awesome task list</h1>
    <p>aka the Steam demo application</p>
		<%= yield %>
  <body>
<html>
